{%load static%}
<head>
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon-->
	<link rel="shortcut icon" href="img/fav.png">
	<!-- Author Meta -->
	<meta name="author" content="CodePixar">
	<!-- Meta Description -->
	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- meta character set -->
	<meta charset="UTF-8">
	<!-- Site Title -->
	<title>Karma Shop</title>

	<!--
		CSS
		============================================= -->
	<link rel="stylesheet" href="UserSide/css/linearicons.css">
	<link rel="stylesheet" href="UserSide/css/owl.carousel.css">
	<link rel="stylesheet" href="UserSide/css/themify-icons.css">
	<link rel="stylesheet" href="UserSide/css/font-awesome.min.css">
	<link rel="stylesheet" href="UserSide/css/nice-select.css">
	<link rel="stylesheet" href="UserSide/css/nouislider.min.css">
	<link rel="stylesheet" href="UserSide/css/bootstrap.css">
	<link rel="stylesheet" href="UserSide/css/main.css">
</head>
