<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CREATE ACCOUNT</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/outlook.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div style="background-image: url('{% static 'UserSide/img/pexels-alexazabache-3766111 (1).jpg' %}'); background-size: cover; background-position: center; background-repeat: no-repeat; height: 100vh; display: flex; justify-content: center; align-items: center;">
        <div class="container" style="max-width: 400px;">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="card" style="background-color: hsla(0, 0%, 100%, 0.9) !important; backdrop-filter: saturate(200%) blur(25px); padding: 20px;">
                        <div class="card-body" style="padding: 15px;">
                            <form action="{% url 'Register' %}" method="post">
                                {% csrf_token %}
                                <div class="align-items-center">
                                    {% if messages %}
                                        {% for message in messages %}
                                            <p class="m-2" style="color: {% if message.tags == 'success' %}green{% else %}red{% endif %}; font-size: 14px;">{{ message }}</p>
                                        {% endfor %}
                                    {% endif %}
                                </div>

                                <div class="row">
                                    <div class="col-md-12 mb-2">
                                        <div data-mdb-input-init class="form-outline" style="margin-bottom: 10px;">
                                            <label class="form-label" for="id_firstname" style="font-size: 14px;">Firstname</label>
                                            <input type="text" id="id_firstname" class="form-control" name="firstname" required minlength="6" style="height: 30px; font-size: 14px;"/>
                                        </div>
                                    </div>
                                    <div class="col-md-12 mb-2">
                                        <div data-mdb-input-init class="form-outline" style="margin-bottom: 10px;">
                                            <label class="form-label" for="id_lastname" style="font-size: 14px;">Lastname</label>
                                            <input type="text" id="id_lastname" class="form-control" name="lastname" required minlength="6" style="height: 30px; font-size: 14px;"/>
                                        </div>
                                    </div>
                                </div>

                                <div data-mdb-input-init class="form-outline mb-2" style="margin-bottom: 10px;">
                                    <label class="form-label" for="id_email" style="font-size: 14px;">E-MAIL ID</label>
                                    <input type="email" id="id_email" class="form-control" name="email" required style="height: 30px; font-size: 14px;"/>
                                </div>

                                <div data-mdb-input-init class="form-outline mb-2" style="margin-bottom: 10px;">
                                    <label class="form-label" for="id_phone" style="font-size: 14px;">PHONE NUMBER</label>
                                    <input type="text" id="id_phone" class="form-control" name="phone" required pattern="\d{10}" title="Phone number must be 10 digits" style="height: 30px; font-size: 14px;"/>
                                </div>

                                <div data-mdb-input-init class="form-outline mb-2" style="margin-bottom: 10px;">
                                    <label class="form-label" for="id_password" style="font-size: 14px;">PASSWORD</label>
                                    <input type="password" id="id_password" class="form-control" name="password" required minlength="6" style="height: 30px; font-size: 14px;"/>
                                </div>

                                <div data-mdb-input-init class="form-outline mb-2" style="margin-bottom: 10px;">
                                    <label class="form-label" for="id_confirm_password" style="font-size: 14px;">CONFIRM PASSWORD</label>
                                    <input type="password" id="id_confirm_password" class="form-control" name="confirm_password" required minlength="6" style="height: 30px; font-size: 14px;"/>
                                </div>

                                <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block mb-2" style="font-size: 14px; padding: 5px;">
                                    CREATE ACCOUNT
                                </button>
{% comment %} 
                                <div class="col-12 col-lg-5 d-flex align-items-center">
                                  <div class="d-flex gap-3 flex-column w-100">
                                      <a href="{% url 'google_login' %}" class="btn btn-outline-dark rounded-0 d-flex align-items-center">
                                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-google text-danger" viewBox="0 0 16 16">
                                              <path d="M15.545 6.558a9.42 9.42 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.689 7.689 0 0 1 5.352 2.082l-2.284 2.284A4.347 4.347 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.792 4.792 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.702 3.702 0 0 0 1.599-2.431H8v-3.08h7.545z" />
                                          </svg>
                                          <span class="ms-2 fs-6 flex-grow-1">Continue with Google</span>
                                      </a>
                                  </div>
                              </div> {% endcomment %}
                              
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
