# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.db
*.sqlite3

# Django
*.log
local_settings.py
db.sqlite3
media/

# Virtual environment
enviornment/

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo

# System files
.DS_Store
