{% extends "AdminSide/base.html" %}

{% block title %}Add Category{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">Add New Category</h2>
    <form action="{% url 'catogory:add_catogory' %}" method="POST">
        {% csrf_token %}
        <div class="form-group mb-3">
            <label for="categoryName">Category Name</label>
            <input type="text" class="form-control stylish-input" id="categoryName" name="category_name" required>
        </div>
        <div class="form-group mb-3">
            <label for="categoryDescription">Description</label>
            <textarea class="form-control stylish-input" id="categoryDescription" name="category_description" rows="4" ></textarea>
        </div>
        <div class="form-group form-check mb-3">
            <input type="hidden" name="category_status" value="False">
            <input type="checkbox" class="form-check-input" id="categoryStatus" name="category_status" value="True" checked>
            <label class="form-check-label" for="categoryStatus">Active</label>
        </div>
        
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<style>
    .stylish-input {
        color: yellow;
        background-color: #333;
        border: 1px solid #444;
    }

    .stylish-input::placeholder {
        color: yellow;
    }

    .form-group label {
        color: yellow;
    }
</style>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        {% if messages %}
            const messages = [
                {% for message in messages %}
                    {
                        level: "{{ message.tags }}",
                        text: "{{ message }}"
                    },
                {% endfor %}
            ];
            messages.forEach(message => {
                Swal.fire({
                    toast: true,
                    position: 'top-right',
                    icon: message.level === 'success' ? 'success' : 'error',
                    title: message.text,
                    showConfirmButton: false,
                    timer: 3000
                });
            });
        {% endif %}
    });
</script>
{% endblock %}
