{% extends "AdminSide/base.html" %}
{% block title %}Order List{% endblock %}

{% block content %}
<div class="row ">
    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Order Management</h4>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    <div class="form-check form-check-muted m-0">
                                        <label class="form-check-label">
                                            <input type="checkbox" class="form-check-input">
                                        </label>
                                    </div>
                                </th>
                               
                                <th> Order No </th>
                                <th> Product Cost </th>
                                <th> Payment Mode </th>
                               
                                <th> Payment Status </th>
                                <th> Actions </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in orders %}
                            <tr>
                                <td>
                                    <div class="form-check form-check-muted m-0">
                                        <label class="form-check-label">
                                            <input type="checkbox" class="form-check-input">
                                        </label>
                                    </div>
                                </td>
                                
                                <td> {{ order.order_id }} </td>
                                <td> Rs. {{ order.total_price }} </td>
                                <td> {{ order.payment.get_method_display }} </td>
                                
                                <td>
                                    <div class="badge badge-outline-{% if order.status == 'Delivered' %}success
                                        {% elif order.status == 'Pending' %}warning
                                        {% elif order.status == 'Rejected' %}danger
                                        {% else %}info{% endif %}">
                                        {{ order.status }}
                                    </div>
                                </td>
                                <td>
                                    <a href="{% url 'order_management:order_details-admin' order.order_id %}" class="btn btn-outline-info btn-fw">details</a>

                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
