<!-- brand.html -->
{% extends "AdminSide/base.html" %}

{% block title %}Category Page{% endblock %}

{% block content %}

<!-- Messages Section -->

<!-- Page Header Section -->
<div style="display: flex; flex-direction: row; align-items: center; font-family: Montserrat;">
    <a class="nav-link btn btn-success create-new-button" id="createbuttonDropdown" aria-expanded="false" href="{% url 'catogory:add_catogory' %}">+ Add New Category</a> 
    <h3 style="margin-left: 250px; margin-right: auto; text-align: center; color: #d4af37;">Category</h3>
</div> 

<!-- Table Section -->
<div class="container">
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <div class="card">
                <div class="card-body">
                    <div class="table">
                        <table class="table table-striped">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Category Name</th>
                                    <th scope="col">Category Description</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for c in catogory %}
                                <tr>
                                    <td>{{ c.category_name }}</td>
                                    <td>{{ c.category_description }}</td>
                                    <td>{{ c.is_available }}</td>
                                    <td>
                                        <form method="" action="{% url 'catogory:edit_category' c.id %}">
                                            {% csrf_token %}
                                            <input type="hidden" name="brand_name" value="{{ brand.brand_name }}">
                                            <button type="submit" class="btn btn-dark btn-icon-text">Edit</button>
                                        </form>
                                        
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        {% if messages %}
            const messages = [
                {% for message in messages %}
                    {
                        level: "{{ message.tags }}",
                        text: "{{ message }}"
                    },
                {% endfor %}
            ];
            messages.forEach(message => {
                Swal.fire({
                    toast: true,
                    position: 'top-right',
                    icon: message.level === 'success' ? 'success' : 'error',
                    title: message.text,
                    showConfirmButton: false,
                    timer: 3000
                });
            });
        {% endif %}
    });
</script>
<link href='https://fonts.googleapis.com/css?family=Alegreya' rel='stylesheet'>
<style>
body {
    font-family: 'Alegreya';font-size: 22px;
}
</style>
{% endblock %}
