<!-- brand.html -->
{% extends "AdminSide/base.html" %}


{% block title %}Brands Page{% endblock %}


{% block content %}


{% if messages %}
<div id="messages">
    {% for message in messages %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
</div>
{% endif %}

<div style="display: flex; flex-direction: row; align-items: center; font-family: Montserrat;">
    <a class="nav-link btn btn-success create-new-button" id="createbuttonDropdown" data-toggle="dropdown" aria-expanded="false" href="{% url 'brand:add_brand' %}">+ Add New Brand</a>
    <h3 style="margin-left: 250px; margin-right: auto; text-align: center; color: #d4af37;">BRANDS</h3>
    
</div>


<div class="container">
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <div class="card">
                <div class="card-body">
                    <div class="table">
                        <table class="table table-striped">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Varient Name</th>
                                    {% comment %} <th scope="col">Varient  Description</th> {% endcomment %}
                                    <th scope="col">status </th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for varient in varient %}
                                <tr>
                                    <td>{{ varient.variant_name }}</td>
                                    <td>{{ varient.Products__product_name }}</td>
                                    <td>{{ varient.is_active }}</td>
                                    {% comment %} <td>
                                        <a href="{% url 'brand:edit_brand' brand.id %}" class="btn btn-sm btn-primary">Edit</a>
                                    </td> {% endcomment %}
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    // Hide messages after 20 seconds (20000 milliseconds)
    setTimeout(function() {
        var messages = document.getElementById('messages');
        if (messages) {
            messages.style.display = 'none';
        }
    }, 20000); /
</script>

{% endblock %}

